<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1> Charles Babbage</h1>
    <img src="/img/Babbage.jpg" alt="foto de Babbage" />
  <p>Se le considera el padre de las computadores digitales, pues en 1822 construyó un modelo de calculadora mecánica ( la máquina diferencial ), así llamada porque para realizar sus cálculos utilizaba la teoría matemática de las diferencias finitas.</p>  

</body>
</html>