<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1><Berners></h1>
    <img src="/img/Berners.jpg" alt="foto de Berners" />
    <p>Berners-Lee fue el creador en 1989 de la World Wide Web (WWW), un proyecto global de hipertexto que permitiría por primera vez al mundo trabajar conjuntamente en la red. ... Ese programa inició el desarrollo del World Wide Web, que inventó a finales de 1990.</p>
</body>
</html>