<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Hamilton</h1>
    <img src="/img/Hamilton.jpg" alt="foto de Hamilton" />
<p>Margaret Hamilton, matemática e ingeniera de sistemas, dirigió el equipo del MIT que desarrolló el software que utilizó la computadora a bordo de Apolo 11.Su trabajo fue crucial porque ese software fue el que se empleó para hacer cálculos durante la misión y contaba con un sistema de detección de errores</p>
</body>
</html>