<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Hopper</h1>
    <img src="/img/Hopper.jpg" alt="foto de Hopper" />
<p>Grace Hopper desarrolló el primer compilador para un lenguaje de programación
    fue integrante de la Armada de Estados Unidos y una reconocida matemática especialista en informática. Fue la precursora del lenguaje COBOL, un compilador que fue clave en el desarrollo de la computación moderna.</p>
</body>
</html>