<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index</h1>
    <H2>Home</H2>
    <h3>Home</h3>
    <h4>Home</h4>
    <h5>Home</h5>
    <h6>Home</h6>
<img src="/img/Index.jpg" alt="foto de Index">
 <p>Tener un archivo index subido a nuestro dominio es fundamental si se quiere tener una página web que funcione. Se puede decir más alto pero no más claro: sin index no hay página web. Así pues es sumamente importante tener un archivo index.</p>
</body>
</html>